<div class="tab-pane fade in active" >
    <h6>Assign Table</h6>
    <form ng-submit="actionVm.updatetable(table)">
        <div class="form-group">
            <label>Customer ID: {{actionVm.detail.cust_id}}  </label><br>
            <label>Customer Name : {{actionVm.detail.firstName}} </label><br>
            <label>Date : {{actionVm.detail.date}} </label>
            <label>Time : {{actionVm.detail.time}} </label>


            <div class="row">
                <div class="col-sm-4">
                    <label for="name">Table Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Table Name" ng-model="table.table_name">
                </div>

            <div class="col-sm-4">
                <label for="name">Date</label>
                <input type="text" class="form-control" id="name" placeholder="MM/DD/YYYY" ng-model="table.date">
            </div>
                <div class="col-sm-4">
                    <label for="name">Time</label>
                    <input type="text" class="form-control" id="name" placeholder="HH:MM Am/PM" ng-model="table.time">
                </div>
            </div>
            <button type="submit" class="btn btn-primary" >Assign Table</button>



    </form>
</div>